<form class="ui segment edit form">
	<!-- ================================== -->
	<h4 class="ui dividing header">Web UI</h4>
	<div class="ui basic segment">
		<div class="ui stackable two column grid">
			<div class="column">
				<div class="field">
					<label>Username</label>
					<input type="text" ng-model="inputs.app.User"></input>
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" ng-model="inputs.app.Pass"></input>
				</div>
			</div>
			<div class="column">
				<div class="field">
					<label>Title</label>
					<input type="text" ng-model="inputs.app.Title"></input>
				</div>
			</div>
		</div>
	</div>
	<!-- ================================== -->
	<h4 class="ui dividing header">Torrents</h4>
	<div class="ui basic segment">
		<div class="ui stackable two column grid">
			<div class="column">
				<div class="field">
					<label>Peer ID</label>
					<input type="text" ng-model="inputs.torrent.PeerID"></input>
				</div>
				<div class="field">
					<label>Incoming connections port</label>
					<input type="number" min="1" max="65535" ng-model="inputs.torrent.IncomingPort"></input>
				</div>
			</div>
			<div class="column">
				<div class="ui basic segment">
					<div class="field">
						<checkbox type="toggle" ng-model="inputs.torrent.AutoStart">Auto start torrents</checkbox><br>
					</div>
					<div class="field">
						<checkbox type="toggle" ng-model="inputs.torrent.EnableEncryption">Enable encryption</checkbox><br>
					</div>
					<div class="field">
						<checkbox type="toggle" ng-model="inputs.torrent.EnableUpload">Enable uploading</checkbox><br>
					</div>
					<div class="field">
						<checkbox type="toggle" ng-model="inputs.torrent.EnableSeeding">Enable seeding</checkbox><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ================================== -->
	<h4 class="ui module dividing header">
		Disk
		<div class="ui tiny green add button" ng-click="add('disk')">
			Add  <i class="plus icon"></i>
		</div>
	</h4>
	<div class="ui segment" ng-repeat="disk in list('disk')">
		<div class="field">
			<label>Storage path</label>
			<input type="text" ng-model="disk.Base" placeholder="/"></input>
		</div>
	</div>
	<!-- ================================== -->
	<h4 class="ui module dividing header">
		Dropbox
		<div class="ui tiny green add button" ng-click="add('dropbox')">
			Add  <i class="plus icon"></i>
		</div>
	</h4>
	<div class="ui segment" ng-repeat="dropbox in list('dropbox')">
		<div class="field">
			<label>API Token</label>
			<input type="text" ng-model="dropbox.Token" placeholder="abcXYZ"></input>
		</div>
		<div class="field">
			<label>Storage path</label>
			<input type="text" ng-model="dropbox.Base" placeholder="/"></input>
		</div>
	</div>
	<!-- ================================== -->
	<div class="buttons">
		<div class="buttons">
			<div class="ui blue button"
				ng-class="{loading: apiing, disabled: saved}"
				ng-disable="saved"
				ng-click="submitConfig()">
				Save
			</div>
			<div class="ui grey button"
				ng-click="toggleConfig()">
				Cancel
			</div>
		</div>
	</div>
</form>
